doctype html
html
  head
    title NodeAuth
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    body
      nav.navbar.navbar-inverse.navbar-fixed-top
       .container
         .navbar-header
           button.navbar-toggle.collapsed(type='button', data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
             span.sr-only Toggle navigation
             span.icon-bar
             span.icon-bar
             span.icon-bar
           a.navbar-brand(href='#') Login System
         #navbar.collapse.navbar-collapse
           ul.nav.navbar-nav
             li(class=(title == 'Members' ? 'active' : ''))
                a(href='/') Members
             li(class=(title == 'Register' ? 'active' : ''))
                a(href='/users/register') Register
             li(class=(title == 'Login' ? 'active' : ''))
                a(href='/users/login') Log In
           ul.nav.navbar-nav.navbar-right
             li
                a(href='/users/logout') logout
    .container
        block content

  script( src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  script( src='/javascripts/bootstrap.js')
