extends layout

block content
    h1 Login
    p Please Login below
    form(method='post',action='/users/register',enctype='multipart/form-data')
      .form-group
        label Name
        input.form-control(name='name', type='text')
      .form-group
        label Password
        input.form-control(name='password', type='password')
      input.btn.btn.default(name='submit', type='submit', value='Login')
